
/*BASE*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    background-color: #5eb5e0;
    height: 100px;
    width: 100%;
}

/*HOME*/

.main--home {
    width: 50%;
    margin: 10% auto;
    text-align: center;
}

.main--home > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 7em;
}

.main--home_button {
    cursor: pointer;
    background-color: #5eb5e0;
    height: 100px;
    margin: 0 30px;
    padding: 30px;
    border: none;
    border-radius: 10px;
}

.main--home_button:hover {
    background-color: #5ea6cd;
}

.main--home_button > a {
    color: #FFF;
    font-size: 1.7em;
    text-decoration: none;
}

/*IDEAS*/

.main--ideas {
    width: 50%;
    margin: 2% auto;
    text-align: center;
}

.main--ideas > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
}