{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
    <main class="main">
        <div class="main--home">
            <h1>Home</h1>
            <button class="main--home_button">
                <a href="#">Connexion</a>
            </button>
            <button class="main--home_button">
                <a href="{{ path('ideas_index') }}">Voir les idées</a>
            </button>
        </div>

    </main>

{% endblock body %}