{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}

        <div class="main--home">
            <h1>Home</h1>
            <button class="main--home_button">
                <a href="#">Connexion</a>
            </button>
            <button class="main--home_button">
                <a href="{{ path('idea_index') }}">Voir les idées</a>
            </button>
        </div>

{% endblock body %}