{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
    <main class="main">
        <div class="main--home">
            <h1>Home</h1>
            <div class="home-body">
                <button class="button">Connexion</button>
                <button class="button">Voir les idées</button>
            </div>
        </div>

    </main>

{% endblock body %}