{% extends 'base.html.twig' %}

{% block title %}Idées{% endblock %}


{% block body %}
    <main class="main">
        <div class="main--ideas">
            <h1>Idées</h1>
            <div class="grid-container">
{#                {% for meal in meals %}#}
{#                    <div class="grid-item">{{ meal.name }}</div>#}
{#                {% endfor %}#}
            </div>
        </div>

    </main>

{% endblock body %}