<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <nav class="navMenu">
            <div class="navMenu--links">
                <a href="{{ path('home') }}">Home</a>
                <a href="{{ path('idea_index') }}">Ideas</a>
                <a href="{{ path('idea_index2') }}">Ideas2</a>
            </div>
            <a href="#" class="connected">Connexion</a>
        </nav>
        <main class="main">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
